.sub_page1 {
    background-size: cover;
    background-repeat: no-repeat;
}

.make_into_page>.sub_page1 {
    background-image: url('../img/page_3.jpg');
}

.sub_page1_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    color: hsl(0, 0%, 20%);
}

.sub_page1_content>span {
    position: absolute;
    max-width: 0%;
    transition: 3.5s;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.sub_page1_content>span:nth-child(1) {
    top: 180px;
    left: 0px;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
}

.sub_page1_content>span:nth-child(2) {
    top: 250px;
    left: 150px;
    width: 190px;
    font-size: 25px;
    font-style: italic;
}

.sub_page1_content>span:nth-child(3) {
    top: 300px;
    left: 100px;
    font-size: 25px;
    font-style: italic;
}

.sub_page1_content>span:nth-child(4) {
    top: 410px;
    left: 85px;
    font-size: 25px;
    font-style: italic;
}


/* Page 2 _ content */

.sub_page2 {
    background-size: cover;
    background-repeat: no-repeat;
}

.make_into_page>.sub_page2 {
    background-image: url('../img/page_5.jpg');
}

.sub_page2_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    color: hsl(0, 0%, 20%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1c8e3c;
    color: #D1F7D1;
}

.sub_page2_content>span {
    position: absolute;
    transition: 3.5s;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    max-width: 0%;
}

.sub_page2_content>span:nth-child(1) {
    font-size: 45px;
    top: 0px;
    left: 200px;
    letter-spacing: 6px;
}

.sub_page2_content>span:nth-child(2) {
    font-size: 35px;
    top: 60px;
    left: 280px;
    letter-spacing: 5px;
}

.sub_page2_content>span:nth-child(3) {
    font-size: 35px;
    top: 110px;
    left: 258px;
    letter-spacing: 5px;
}

.sub_page2_content>span:nth-child(4) {
    font-size: 35px;
    top: 160px;
    left: 300px;
    letter-spacing: 5px;
}

.sub_page2_content>span:nth-child(5) {
    font-size: 35px;
    top: 200px;
    left: 310px;
    letter-spacing: 5px;
}

.sub_page2_content>span:nth-child(6) {
    font-size: 35px;
    top: 300px;
    left: 150px;
    letter-spacing: 4px;
    width: 100%;
    height: 100%;
    max-width: 0%;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #D1F7D1;
    color: #75BD89 !important;
    transition: 1.5s;
}

.sub_page2_content>span:nth-child(6)>span {
    font-size: 31px;
    letter-spacing: 5px;
    position: absolute;
    max-width: 0%;
    overflow: hidden;
    transition: 3.5s;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(1) {
    top: 0;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(2) {
    top: 40px;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(3) {
    top: 80px;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(4) {
    top: 120px;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(5) {
    top: 160px;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(6) {
    top: 200px;
    left: 0;
}

.sub_page2_content>span:nth-child(6)>span:nth-child(7) {
    top: 240px;
    left: 0;
}


/* Page 3 */

.sub_page3 {
    background-size: cover;
    background-repeat: no-repeat;
}

.make_into_page>.sub_page3 {
    background-image: url('../img/page_6.jpg');
}

.sub_page3_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    color: hsl(0, 0%, 20%);
}

.sub_page3_content>span {
    font-size: 25px;
    position: absolute;
    left: 20px;
    max-width: 0%;
    transition: 5.5s;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    height: 110%;
    text-align: center;
}

.sub_page3_content>span:nth-child(1) {
    top: 80px;
}

.sub_page3_content>span:nth-child(2) {
    top: 150px;
}

.sub_page3_content>span:nth-child(3) {
    top: 215px;
}

.sub_page3_content>span:nth-child(4) {
    top: 280px;
    letter-spacing: 2.75px;
    font-size: 33px;
    color: white;
    font-style: italic;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: hsl(0, 0%, 20%);
    text-align: left;
    letter-spacing: 2.75px;
}

.sub_page3_content>span:nth-child(5) {
    top: 330px;
}


/* Page 4 */

.sub_page4 {
    background-image: url('../img/page_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.make_into_page>.sub_page4 {
    background-image: url('../img/page_4.jpg');
}

.sub_page4_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    color: hsl(0, 0%, 20%);
}

.sub_page4_content>span {
    position: absolute;
    font-size: 25px;
    width: 100%;
    white-space: nowrap;
    left: 140px;
    font-style: italic;
    max-width: 0%;
    overflow: hidden;
    transition: 3.5s;
}

.sub_page4_content>span:nth-child(1) {
    top: 80px;
}

.sub_page4_content>span:nth-child(2) {
    top: 120px;
}

.sub_page4_content>span:nth-child(3) {
    top: 200px;
}

.sub_page4_content>span:nth-child(4) {
    top: 250px;
}

.sub_page4_content>span:nth-child(5) {
    top: 320px;
}

.sub_page4_content>span:nth-child(6) {
    top: 370px;
}